.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 90px auto;
}

.poster-img {
  max-width: 350px;
  margin-right: 20px;
}

.movie-info {
  max-width: 500px;
}

.title {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 30px;
}
.label {
  margin-bottom: 20px;
}
.overview {
  width: 40%;
  min-width: 480px;
}
