.search-container {
  width: 100%;
  text-align: center;
  padding: 5rem 0;
}

.no-results {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  height: 100%;
  padding: 8rem;
}

.movie {
  flex: 1 1 auto;
  display: inline-block;
  padding-right: 0.5rem;
  padding-bottom: 7rem;
  position: relative;
}

.column-poster {
  cursor: pointer;
  transition: transform 0.2s;
  position : relative;
}

.column-poster:hover {
  transform: scale(1.2);
}

.poster {
  border-radius: 5px;
}
.poster-text {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: rgb(31, 31, 51);
  color: white;
  font-weight: bold;
  padding: 4px;
  opacity: 0.8;
  border-radius: 4px;
}