
.rowposters {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
}

.rowposter {
  object-fit: contain;
  max-height: 144px;
  margin-right: 10px;
  border-radius: 4px; 
}

.rowposter:hover {
  transform: scale(1.08);
  border: 5px solid green;
}

.poster-container {
  position: relative;
}

.poster-title {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 11px;
  background-color: rgb(31, 31, 51);
  color: white;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  opacity: 0.8;
  border-radius: 4px;
}

.rowposter:hover + .poster-title {
  transform: scale(1.08);
}